.people__section {
  background-color: var(--portfolio-button-background-color);
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.people__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}
.people__list {
  justify-content: center;
  display: flex;
  margin-left: -30px;
}

.people__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people__item {
  flex-basis: calc((100 - 4 * 30px) / 4);
  margin-left: 30px;
}

.people__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.people__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-bottom: 10px;
}

.people__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
